p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, ol {
  margin: 0px;
  padding-left: 0px;
}

body {
  font-family: "Roboto", sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --main-color: #212121;
  --secondary-color: #2196f3;
  --additional-color: #757575;
  --transition-time: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.btn {
  padding: 10px 32px;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: var(--secondary-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.title {
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.header {
  padding: 24px 0 25px;
  display: flex;
  border-bottom: 1px solid #ECECEC;
}
.header .container {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 93px;
}

.logo {
  display: block;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--secondary-color);
}
.logo--black {
  color: #000000;
}

.nav-menu {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-menu .nav-menu__link.current {
  color: var(--secondary-color);
}

.nav-menu__item:not(:last-child) {
  margin-right: 50px;
}

.nav-menu__link {
  display: block;
  color: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-menu__link:hover, .nav-menu__link:focus {
  color: var(--secondary-color);
}

.nav-all {
  display: flex;
  align-items: center;
}

.contacts-margin {
  margin-left: auto;
}

.contacts {
  display: flex;
  align-items: baseline;
}
.contacts__item {
  display: block;
  margin-left: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts__link {
  color: var(--additional-color);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__item:not(:last-child) {
  margin-right: 30px;
}

.header-icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  padding: 200px 0;
  text-align: center;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero.jpg);
  background-color: rgba(47, 48, 58, 0.4);
  background-size: cover;
  background-position: center;
}
.hero__title {
  margin: 0 auto;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #fff;
}

.btn-hero {
  margin: 30px auto 0;
}

.advantages {
  padding-top: 94px;
}
.advantages__list {
  display: flex;
}
.advantages__item:not(:last-child) {
  margin-right: 30px;
}
.advantages__icon-wrap {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.advantages__title {
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}
.advantages__label {
  max-width: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--additional-color);
}

.services {
  padding: 94px 0;
}
.services__title {
  margin-bottom: 50px;
}

.lower-overlay {
  display: flex;
}
.lower-overlay__item {
  position: relative;
}
.lower-overlay__item:not(:last-child) {
  margin-right: 30px;
}
.lower-overlay__label {
  position: absolute;
  display: inline-block;
  font-size: 14px;
  line-height: 1.14;
  height: 70px;
  width: 100%;
  text-align: center;
  padding-top: 27px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  color: #FFFFFF;
}

.team {
  padding: 94px 0;
  background-color: #F5F4FA;
}
.team__title {
  margin-bottom: 50px;
}
.team__list {
  display: flex;
  text-align: center;
}

.team__item {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:not(:last-child) {
  margin-right: 30px;
}

.team-card {
  padding: 30px 0;
}
.team-card__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.team-card__label {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--additional-color);
}

.soc-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.soc-icon__item {
  width: 44px;
  height: 44px;
}

.soc-icon__item--team {
  margin-top: 16px;
}
.soc-icon__item--team:not(:last-child) {
  margin-right: 10px;
}

.soc-icon__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #FFFFFF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-icon__link:hover, .soc-icon__link:focus {
  background-color: var(--secondary-color);
}

.soc-icon__icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-icon__link:hover .soc-icon__icon {
  fill: #fff;
}

.clients {
  padding: 94px 0;
}
.clients__title {
  margin-bottom: 50px;
}
.clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients__item {
  width: 170px;
  height: 92px;
  border: solid 1px #AFB1B8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__item:hover {
  border-color: var(--secondary-color);
}
.clients__item:hover .clients__icon {
  fill: var(--secondary-color);
}

.clients__icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  fill: var(--additional-color);
}

.footer {
  background-color: #2F303A;
  padding: 60px 0;
}
.footer .container {
  display: flex;
}

.logo--light {
  color: #fff;
}

.footer-contact {
  list-style: none;
  max-width: 231px;
}
.footer-contact__item {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contact__link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-address {
  margin-top: 20px;
  font-style: normal;
  color: #FFFFFF;
}

.footer-soc {
  margin-left: 70px;
  margin-top: 12px;
}
.footer-soc__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-style: normal;
}

.soc-icon__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}
.soc-icon__link--footer svg {
  fill: #fff;
}

.soc-icon__item--footer:not(:last-child) {
  margin-right: 10px;
}

.footer-subscribe {
  margin-left: 93px;
  margin-top: 12px;
}
.footer-subscribe__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-form {
  display: flex;
}
.footer-form__input {
  width: 358px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
}
.footer-form__icon {
  position: absolute;
  right: 40px;
  transform: translateX(10px);
}

.btn-footer {
  position: relative;
  width: 200px;
  padding: 10px 62px 10px 28px;
  margin-left: 12px;
  display: flex;
  align-items: center;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  padding: 40px;
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover, .close-btn:focus > .close-btn__icon {
  fill: var(--secondary-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: 0;
}

.modal-form__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.modal-form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  padding-left: 42px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon-wrap {
  position: relative;
  margin-bottom: 10px;
}
.input-icon-wrap:focus-within > .modal-form__input {
  border-color: var(--secondary-color);
}
.input-icon-wrap:focus-within > .modal-form__icon {
  fill: var(--secondary-color);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 14px;
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-area {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.text-area:focus-within {
  border-color: var(--secondary-color);
}
.text-area::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.text-area:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.text-area::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.checkbox {
  position: relative;
  height: 24px;
}
.checkbox__link {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
}

.checkbox__text {
  display: inline-flex;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  align-items: center;
  margin-left: 8px;
}
.checkbox__text::before {
  width: 16px;
  height: 16px;
  content: " ";
  border: 2px solid #212121;
  border-radius: 3px;
  position: absolute;
  left: 0;
}

.checkbox__input:checked + .checkbox__text::before {
  background-color: var(--secondary-color);
  background-image: url(../images/checkbox-checked.svg);
  background-position: center;
  background-size: contain;
  border-color: transparent;
  background-repeat: no-repeat;
}

.portfolio {
  padding: 94px 0;
  background-color: #ffffff;
}

.filter-btn {
  padding: 6px 22px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: #212121;
  border: 0;
  cursor: pointer;
  background-color: #F5F4FA;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover, .filter-btn:focus {
  color: #fff;
  background-color: var(--secondary-color);
}

.portfolio-example {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.portfolio-group {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--additional-color);
}

.active-link:active {
  color: var(--secondary-color);
}

.nav-menu__link {
  position: relative;
}
.nav-menu__link.current::after {
  position: absolute;
  display: block;
  content: " ";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  transform: translateY(calc(100% + 26px));
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list__item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

.overlay-cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.overlay-cards__label {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-cards__item {
  position: relative;
  margin-left: 30px;
  margin-bottom: 30px;
  text-align: left;
  max-width: 370px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-cards__item:hover, .overlay-cards__item:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-exmpl {
  padding: 20px 24px;
}

.overlay-cards__item:hover .overlay-cards__label {
  transform: translateY(0);
}

.filter-item:hover,
.filter-item:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.overlay-cards-thumb {
  position: relative;
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */