.advantages {
    padding-top: 94px;

&__list {
            display: flex;
    
        }
&__item:not(:last-child) {
    margin-right: 30px;
}

&__icon-wrap {
    @extend %centeredFlex;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;

    margin-bottom: 30px;
}

&__title {
    padding-bottom: 10px;
    @include font(14, null, 1.14, 0.03);
    text-transform: uppercase;
    color: var(--main-color);
}

&__label {
    max-width: 270px;
    @include font(14, 400, 1.71, 0.03)
    color: var(--additional-color);
}
}



