.advantages {
    padding-top: 94px;

&__list {
            display: flex;
    
        }
&__item:not(:last-child) {
    margin-right: 30px;
}

&__icon-wrap {
    display: flex;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

&__title {
    padding-bottom: 10px;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
}

&__label {
    max-width: 270px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--additional-color);
}
}



