.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    padding: 40px;
    position: absolute;
    width: 528px;
    height: 581px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

.backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(0);
    }
}

.close-btn {
    @extend %centeredFlex;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus>.close-btn__icon {
        fill: var(--secondary-color);
    }
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: 0;
}

.modal-form {

&__title {
        margin-bottom: 12px;
        @include font(20, null, 1.15, 0.03);
        text-align: center;
        color: #212121;
    }

&__label {
    margin-bottom: 4px;
    @include font(12, null, 14, 0.01);
    color: #757575;
}

&__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    padding-left: 42px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}


.input-icon-wrap {
    position: relative;
    margin-bottom: 10px;

&:focus-within>.modal-form__input {
        border-color: var(--secondary-color);
    }

&:focus-within>.modal-form__icon {
    fill: var(--secondary-color);

    }
}

.modal-form__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 14px;
    pointer-events: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-area {
    height: 120px;
    resize: none;
    padding: 12px 16px;
    margin-bottom: 20px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;

&:focus-within {
        border-color: var(--secondary-color);
    }
&::placeholder {
    @include font(12, null, 1.17, 0.01);
    color: rgba(117, 117, 117, 0.5);

    }
}

.modal-btn {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 52px;
    margin-top: 30px;
    @include font(16, 700, 30px, 0.06);

    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.checkbox {
    position: relative;
    height: 24px;

&__link {
        @include font(14, null, 24px, 0.03);
        color: var(--secondary-color);
        border-bottom: 1px solid var(--secondary-color);
    }
}

.checkbox__text {
    display: inline-flex;
    @include font(14, null, 1.7, 0.03);
    color: #757575;
    align-items: center;
    margin-left: 8px;

&::before {
        width: 16px;
        height: 16px;
        content: " ";
        border: 2px solid #212121;
        border-radius: 3px;
        position: absolute;
        left: 0;

    }
}

.checkbox__input:checked+.checkbox__text::before {
    background-color: var(--secondary-color);
    background-image: url(../images/checkbox-checked.svg);
    background-position: center;
    background-size: contain;
    border-color: transparent;
    background-repeat: no-repeat;

}

