.clients {
    padding: 94px 0;

&__title {
        margin-bottom: 50px;
    }

&__list {
    @extend %centeredFlex;
    }
}

.clients__item {
    width: 170px;
    height: 92px;
    border: solid 1px #AFB1B8;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:not(:last-child) {
        margin-right: 30px;
    }
}


.clients__item:hover {
    border-color: var(--secondary-color);
& .clients__icon {
        fill: var(--secondary-color);
    }
}

.clients__icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link {
   @extend %centeredFlex
    width: 100%;
    height: 100%;
    fill: var(--additional-color);
}

