.services {
    padding: 94px 0;

&__title {
        margin-bottom: 50px;

    }
}

.lower-overlay {
    display: flex;

&__item {
        position: relative;
    }

 &__item:not(:last-child) {
     margin-right: 30px;
 }

&__label {
    position: absolute;
    display: inline-block;
    @include font(14, null, 1.14, 0.03)
    height: 70px;
    width: 100%;
    text-align: center;
    padding-top: 27px;
    text-transform: uppercase;
    bottom: 0;

    background: rgba(47, 48, 58, 0.8);

    color: #FFFFFF;
}
}






